<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FDS First Page</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/test.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<script src="https://ajx.googleapis.com/ajx/libs/jquery/1.12.4/jquery.min.js"></script>
<div class="row">
    <div class="page-header">
    <div class="col-sm-offset-5">
    <h1><strong class="fds_title">FDS</strong><p><small>Firmware Distribution System</small> </p></h1>
    </div>
    </div>
</div>
<br>
<form class="form-horizontal">
    <div class="form-group">
        <label for="inputEmail3" class="col-md-5 control-label">ID</label>
        <div class="col-xs-2">

            <input type="email" class="form-control" id="inputEmail3" placeholder="ID">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-md-5 control-label">Password</label>
        <div class="col-xs-2">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-5 col-md-offset-5">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>

                <button type="submit" class="btn btn-default">Login</button>
                <!-- 버튼 내리려면 /div 아래로 내리면 됨 -->
            </div>
        </div>
    </div>


<script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/test.js"></script>

</body>
</html>