<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FDS Update</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/test.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<!--이 페이지는 목록이나 검색하여 나온 티켓을 클릭하였을 때 나타나는 화면으로 모달창 구현 후 수정 예정 입니다!.-->

<body>

<div class="container" style="text-align: center" id="ct">
    <table class="table table-striped table-bordered table-hover">
        <caption>R/C Update</caption>
        <thead>
        <tr>
            <th style="text-align: center">No.</th>
            <th style="text-align: center">자산번호</th>
            <th style="text-align: center">Hostname</th>
            <th style="text-align: center">벤더 명</th>
            <th style="text-align: center">장비 명</th>
            <th style="text-align: center">현재 버전</th>
            <th style="text-align: center">최신 버전</th>
            <th style="text-align: center">상태</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>bs000123123</td>
            <td>ttest01.infra</td>
            <td>HP</td>
            <td>DL360 G9</td>
            <td>3.13</td>
            <td>3.50</td>
            <td>준비 완료</td>
        </tr>
        <tr>
            <td>2</td>
            <td>bs000123124</td>
            <td>ttest02.infra</td>
            <td>HP</td>
            <td>DL380P G8</td>
            <td>1.00</td>
            <td>1.50</td>
            <td>준비 완료</td>
        </tr>
        <tr>
            <td>2</td>
            <td>bs000123125</td>
            <td>ttest02.infra</td>
            <td>HP</td>
            <td>DL380P G8</td>
            <td>1.00</td>
            <td>1.50</td>
            <td>준비 완료</td>
        </tr>
        <tr>
            <td>2</td>
            <td>bs000123126</td>
            <td>ttest02.infra</td>
            <td>HP</td>
            <td>DL380P G8</td>
            <td>1.00</td>
            <td>1.50</td>
            <td>준비 완료</td>
        </tr>
        <tr>
            <td>2</td>
            <td>bs000123127</td>
            <td>ttest02.infra</td>
            <td>HP</td>
            <td>DL380P G8</td>
            <td>1.00</td>
            <td>1.50</td>
            <td>준비 완료</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container" style="text-align: right" id="ct4">
    <input class="btn btn-default" type="submit" value="이전">
    <input class="btn btn-default" type="submit" value="목록">
    <input class="btn btn-default" type="submit" value="실행">
</div>


<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/test.js"></script>
<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>